<p id="notice"><%= notice %></p>

<p>
  <strong>Ftp path:</strong>
  <%= @downloader.ftp_path %>
</p>

<p>
  <strong>Rename:</strong>
  <%= @downloader.rename %>
</p>

<p>
  <strong>Rename prefix:</strong>
  <%= @downloader.rename_prefix %>
</p>

<p>
  <strong>Setting:</strong>
  <%= @downloader.setting_id %>
</p>

<%= link_to 'Edit', edit_downloader_path(@downloader) %> |
<%= link_to 'Back', downloaders_path %>

<%= link_to 'One Time Download', start_download_job_path %>
