%p#notice= notice
%h1 File Listings
%table
  %thead
    %tr
      %th File name
      %th File path
      %th Last modified
      %th{:colspan => "3"}
  %tbody
    - @file_listings.each do |file_listing|
      %tr
        %td= file_listing.file_name
        %td= file_listing.file_path
        %td= file_listing.last_modified
        %td= link_to 'Show', file_listing
        %td= link_to 'Edit', edit_file_listing_path(file_listing)
        %td= link_to 'Destroy', file_listing, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New File Listing', new_file_listing_path
